/* Paginado */

.paginado {
    display: flex;
    justify-content: center;
    align-items: center;
    button {
        font-size: 18px;
        width: 100px;
        margin: 10px;
        margin-top: 50px;
        margin-bottom: 50px;
        padding: 5px;
        border: 2px solid rgba(128, 128, 128, 0.37);
        border-radius: 5px;
        background-color: #f3a65e;
        font-family: $tipogracia-principal;
    }
    button:hover {
        border: 2px solid rgb(128, 128, 128);
    }
    button:active {
        border: 2px solid rgb(128, 128, 128);
    }
}