.dark-mode {
  nav {
    background: $color-modo-oscuro;

    .list-nav {
      color: white;
      li{
        text-shadow: 2px 2px 2px #6a0b92f7;
      }

      li:hover {
        text-shadow: 2px 2px 2px #a58910; 
      }
    }
  }

 

.burger-menu{
  .ico-menu{
    .bar{
      background-color: $color-modo-oscuro-menu;
    }
  }
}

.modal-bg{
  .modal{
    background: $color-modo-oscuro-modal;
  }

  a:hover{
    background: linear-gradient(90deg, #ffffff 0%, #8c49f2 100%);
  }
}






}
