.dark-mode {
  background-color: #af00005e;
  background-blend-mode: hue;
  nav {
    background: $color-modo-oscuro;
    box-shadow: none;

    .contenedor-links-nav {
      color: white;
      .link-nav{
        text-shadow: 2px 2px 2px #6a0b92f7;
      }

      .link-nav:hover {
        text-shadow: 2px 2px 2px #a58910; 
      }
    }
  }

 .container-form {
   background-color: #5b5a65e3;
   color:white;
 }

.burger-menu{
  .ico-menu{
    .bar{
      background-color: $color-modo-oscuro-menu;
    }
  }
}

.modal-bg{
  .modal{
    background: $color-modo-oscuro-modal;
  }

  a:hover{
    background: linear-gradient(90deg, #ffffff 0%, #8c49f2 100%);
  }
}

.paginado{
  button{
    background-color: #efd979;
  }
}

.paginado-listas-cartas{
  button{
    background-color: #efd979;
    color:black;
  }
  button:hover{
    background-color: rgb(247, 225, 225);
  }
}

.tablas{
  table{
    tbody:nth-child(even):hover{
      background-color: #293236;
    }
  }
}

.contenedor-sin-resultados{
  text-shadow: 2px 2px 2px #c398c3;
}

.buscador{
  .titulo{
   text-shadow: 2px 2px 2px #d2f9f0;
  }
  span{
    color: $color-negro;

    a{
      color: $color-negro;
    }
  }
}


}
