.contenedor-footer {
  width: 100%;
  height: 300px;
  background-color: #000000;
  font-family: $tipogracia-principal;
  color: #fff;
  letter-spacing: 0.08em;
  // @include flex-centrar($items: flex-end);
  
  .column-footer {
    @include flex-centrar($direccion:column, $items: flex-stard);
    padding: 50px; 
    margin: 10px 10px 0 0; 
    li {
      margin: 5px 0 5px 0; 
      transition: opacity .4s ease;
      padding-left: 30px;
    }
    li:hover {
      opacity: 0.9;
      color: #D2F9F0;
     }
  }

  .titulo-contacto-footer {
    font-size: 20px;
    font-weight: normal;
    border-bottom: 1px solid #656565;
    line-height: 1.70;
    transition: opacity .4s ease;
    margin-bottom: 10px;
  }

  .titulo-contacto-footer:hover {
    opacity: 0.9;
    color: #D2F9F0; 
   }

   .contenedor-copyright-footer{
    @include flex-centrar($direccion:column);
    font-size: 12px;
   }
   .parrafo-copyright-footer {
    color: #D2F9F0;
  }
}

// .contenedor-imagen-footer{
//     @include flex-centrar($items: flex-end);

//     .imagen-footer{
//       object-fit: cover;
//       max-width: 100%;
//       min-height: 100px;
//     } 
//   }