.container-form{  
    display: flex;
    justify-content: center;
    background-color: rgb(240, 240, 240);
    
    .formularios{
        margin: 20px 0px;
        width: 40%;
        display: flex;
        justify-content: space-around;
    
       
    }

}