.light-mode{    

    .container-form{  
        width: 100%;
        display: flex;
        justify-content: center;
        background-color: rgb(240, 240, 240);
        font-family: $tipografia-secundaria;        
        
        .formularios{          
            height: 70px;
            display: flex;            
    
            .buscador-lista-cartas{                
                display: flex;    
                align-items: center;       
    
                .contenedor-img-icon{                    
                    width: 45px;
                    height: 45px;                   
                    img{
                        width: 100%;            
                    }
                } 
                
                input{
                    margin-right: 10px;
                    width: 300px;
                    height: 40px;                                  
                    font-size: 20px;
                    border: transparent;
                    margin-left: 5px;
                    padding: 10px;
                    font-family: $tipografia-secundaria;
                }
            }
       
            .submit-formulario{
                display: flex;
                align-items: center;
                font-size: 18px;

                input{
                    width: 80px;
                    height: 40px;
                    border: transparent;
                    background-color: white;
                    font-family: $tipografia-secundaria;
                    font-size: 20px;

                }                            
            }              
        }    
    }

    @media screen and (max-width: 500px){

        #input-busqueda-carta-individual{
            width: 150px;
            font-size: 15px;
        }

        select{
            width: 95px;
            background-color: white;
        }
           
    }

    @media screen and (max-width: 310px){

        #input-busqueda-carta-individual{
           margin-left: 0;
           padding: 10px 5px;
        }

        .contenedor-img-icon{
          display: none;
        }
           
       }




}


