@mixin flex-centrar($display: flex, $direccion: row, $content: center, $items: center) {
  display: $display;
  flex-direction: $direccion;
  justify-content: $content;
  align-items: $items;
}

// carta individual

@mixin circulo-dibujo {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  margin-right: 10px;
}

// switch toggle 

@mixin switchStyle {
    background: $color-switch;
    transition: 0.8s;
  }
  // ojo con el tabulado
  @mixin pokeballStyle {
    content: "";
    position: absolute;
    border: 0.5vmin solid $color-border;
    background: $color-pokeball;
  }