.light-mode {
  nav {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background: $color-modo-claro; 
    box-shadow: 0px 4px 15px 9px rgba(0, 0, 0, 0.09);
    position: sticky;
    top: 0;
    color: $tipografia-color-principal;
    z-index: 10;

    .list-nav {
      width: 50%;
      display: flex;
      justify-content: space-evenly;

      li {
        font-family: $tipografia-secundaria;
        text-shadow: 2px 2px 2px #2e70b6a9;
        font-size: 30px;
        font-weight: 500;
        transition: 500ms;
        min-width: 100px;
      }

      li:hover {
        text-shadow: 2px 2px 2px #d2f9f0;
        letter-spacing: 4px;
        transform: scale(1.1) translateY(3px);
      }
    }
  }
}



@media screen and (max-width: 700px) {
  .light-mode {
    nav {
      @include flex-centrar($content: start);

      .list-nav {
        li {
          display: none;
        }
      }

        .burger-menu {
          @include flex-centrar($display: grid);
          min-width: 45px;
          cursor: pointer;
          overflow: hidden;
          place-items: center;

          .ico-menu {
            width: 25px;

            .bar {
              width: 100%;
              height: 3px;
              background-color: $tipografia-color-principal;
              border-radius: 2px;
              overflow: hidden;
              margin: 5px 0px 0px;
            }
          }
        }
    }
  }
}
