body{
    margin: 0;
    background: url("https://raw.githubusercontent.com/SmeraldaKa0s/API-/master/assets/body_bg.png");
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

p, h1, h2, h3, h4, h5, h6{
    margin: 0;
}

ul{
    list-style: none;
}

ul, li{
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    color: inherit;
}


