
.light-mode{

  #contenedor-busqueda{
    margin: 20px 0px;
    display: flex;
    align-items: center;

    span{
      font-family: $tipografia-secundaria;
      font-size: 60px;
    }
  }
  
  .tablas{
    width: 100%;
    margin-top: 30px;
    
    table {
      width: 80%;
      margin: auto;
      table-layout: fixed;        
      border-collapse: collapse;        
      text-align: center; 
      font-family: $tipografia-secundaria;

      tbody:nth-child(even){
        background-color: rgb(247, 225, 225);
      }

      tbody:nth-child(even):hover{
        background-color: #52cdfa;
        color: white;
      }

      tbody:nth-child(odd){
        background-color: rgb(239, 239, 248);
      }

      tbody:nth-child(odd):hover{
        background-color: rgb(248, 101, 101);
        color: white;
      }

      td, th{
        padding: 10px;
        font-size: 20px;
      }

      thead tr{
        background-color: rgb(173, 24, 24);
        color: white;
      }
      
    }        
  }

  .paginado-listas-cartas{
    display: flex;
    justify-content: center;
    margin: 20px;
    display: none;
  
    button{
      margin: 30px 15px;
      border: transparent;
      color: white;
      background-color: #AD1818;
      width: 80px;
      height: 30px;
      border-radius: 5px;
      font-size: 20px;
      font-family: $tipografia-secundaria;

      .fa-step-backward, .fa-step-forward{
        font-size: 15px;
      }


    }

    button:hover{
      background-color: #1EBAF1;

    }
  }
    
}