
.light-mode{
  
  
  #contenedor-busqueda{
    margin: 20px 0px;
    display: flex;
    align-items: center;
    font-size: 40px;

    .frase-de-busqueda{
      font-family: $tipografia-secundaria;      
    }
  }
  
  .tablas{
    width: 80%;
    margin-top: 40px;
    
    #tabla-resultados {
      margin: auto;
      table-layout: fixed;        
      border-collapse: collapse;        
      text-align: center; 
      font-family: $tipografia-secundaria;

      tbody:nth-child(even){
        background-color: rgb(247, 225, 225);
      }

      tbody:nth-child(even):hover{
        background-color: #52cdfa;
        color: white;
      }

      tbody:nth-child(odd){
        background-color: rgb(239, 239, 248);
      }

      tbody:nth-child(odd):hover{
        background-color: rgb(248, 101, 101);
        color: white;
      }

      td, th{
        padding: 10px;
        font-size: 20px;
      }

      thead tr{
        background-color: $color-tablas-1;
        color: white;
      }      
    }        
  }

  .paginado-listas-cartas{
    display: flex;
    justify-content: center;
    margin: 20px;
    display: none;
  
    .paginado-button{
      margin: 30px 15px;
      border: transparent;
      color: white;
      background-color: $color-tablas-1;
      width: 80px;
      height: 30px;
      border-radius: 5px;
      font-size: 20px;
      font-family: $tipografia-secundaria;

      .fa-step-backward, .fa-step-forward{
        font-size: 15px;
      }
    }

    button:hover{
      background-color: #1EBAF1;

    }
  }    
}

@media screen and (max-width: 1100px){

  .light-mode .tablas #tabla-resultados td, th{
   font-size: 18px;
 } 
 
 .frase-de-busqueda{
   font-size: 40px;  
  }

  .contenedor-img{
    width: 350px;
    height: 350px;

    img{
      width: 100%;
    }
  }    
}

@media screen and (max-width: 950px){

  .frase-de-busqueda{
    font-size: 30px;   
   }

  .contenedor-img{
    width: 300px;
    height: 300px;

    img{
      width: 100%;
    }
  }    
 }

 @media screen and (max-width: 700px){

  .tablas{ 
    overflow-x: scroll;
    width: 800px;
    }    
 }
  
  @media screen and (max-width: 600px){

    #contenedor-busqueda{
      flex-direction: column;
    }
  
    .frase-de-busqueda{
      font-size: 25px;   
     }
  
    .contenedor-img{
      width: 250px;
      height: 250px;
  
      img{
        width: 100%;
      }
    }  
  } 

  @media screen and (max-width: 500px){

    .light-mode .paginado-listas-cartas .paginado-button{
      margin: 5px;
      width: 50px;
      font-size: 15px;
    }   
  }
 

 
