.cotenedor-sets {
	@include flex-centrar($direccion: row, $content: center, $items: normal);
	flex-wrap: wrap;

	.tarjetas-sets {
		@include flex-centrar($direccion: column, $items: center, $content: normal);
		width: 280px;
		margin: $margin;
		border: $border;
		border-radius: 15px;
		box-shadow: $box-shadow;

		.cotenedor-imagen-sets {
			@include flex-centrar($direccion: row, $content: center, $items: center);
			width: 200px;
			height: 200px;
			overflow: hidden;
			margin-top: 5px;
			img {
				width: 80%;
			}
		}
		.contenedor-texto-sets {
			margin: $margin;
			font-family: $tipografia-secundaria;
		}
	}
}

// .cotenedor-sets {
// 	@include flex-centrar($direccion: row, $content: center, $items: normal);
// 	flex-wrap: wrap;

// 	.tarjetas-sets {
// 		@include flex-centrar($direccion: column, $items: center, $content: normal);
// 		width: 300px;
// 		margin: $margin;
// 		border: $border;
// 		border-radius: 15px;
// 		box-shadow: $box-shadow;

// 		.cotenedor-imagen-sets {
// 			@include flex-centrar($direccion: row, $content: center, $items: center);
// 			width: 200px;
// 			height: 200px;
// 			overflow: hidden;
// 			margin-top: 5px;
// 			img {
// 				width: 80%;
// 			}
// 		}
// 		.contenedor-logo-texto-sets {
// 			@include flex-centrar();
// 			margin-bottom: $margin;
// 			.contenedor-texto-sets {
// 				font-family: $tipografia-secundaria;
// 			}
// 			.contenedor-logo-sets {
// 				height: 50px;
// 				width: 50px;
// 				overflow: hidden;
// 				margin: 6px;
// 				img {
// 					width: 100%;
// 				}
// 			}
// 		}
// 	}
// }
