.section-modal-sets {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #111111bd;
	display: none;

	.contenedor-modal-sets {
		margin: auto;
		width: 400px;
		border: $border;
		border-radius: 10px;
		box-shadow: $box-shadow;
		background-color: $color-tarjetas;

		.contenedor-boton-cierre-sets {
			display: flex;
			justify-content: right;
			margin: $margin;
		}
	}
	.contenedor-modal-info-sets {
		@include flex-centrar($direccion: column, $items: center, $content: normal);
		.contenedor {
			@include flex-centrar(
				$direccion: column,
				$items: center,
				$content: center
			);
			.modal-img-sets {
				@include flex-centrar(
					$direccion: column,
					$items: center,
					$content: center
				);
				width: 200px;
				height: 200px;
				overflow: hidden;
				img {
					width: 80%;
				}
			}
			.modal-logo-texto-sets {
				@include flex-centrar($direccion: row, $items: center);
				padding: 15px;

				.modal-logo-sets {
					@include flex-centrar(
						$direccion: row,
						$content: center,
						$items: center
					);
					height: 50px;
					width: 50px;
					overflow: hidden;
					margin: $margin;
					img {
						width: 100%;
					}
				}
				.modal-texto-sets {
					margin-left: 20px;

					font-family: $tipografia-secundaria;
				}
			}
		}
	}
}

// NO FUNCIONA EL COLUMN
@media screen and (max-width: 600px) {
	.contenedor-modal-sets {
		width: 300px;
	}
	.modal-logo-texto-sets {
		@include flex-centrar($direccion: column, $content: center, $items: center);
	}
}
