.cotenedor-sets {
	@include flex-centrar($direccion: row, $content: center, $items: normal);
	flex-wrap: wrap;

	.tarjetas-sets {
		@include flex-centrar($direccion: column, $items: center, $content: normal);
		width: 300px;

		margin: 10px;
		border: solid 1px;
		border-radius: 15px;
		box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

		.cotenedor-imagen-sets {
			@include flex-centrar($direccion: row, $content: center, $items: center);
			width: 200px;
			height: 200px;
			overflow: hidden;
			margin-top: 5px;
			margin-bottom: 5px;
			img {
				width: 80%;
			}
		}
		.contenedor-logo-texto-sets {
			@include flex-centrar();
			.contenedor-texto-sets {
				font-family: $tipogracia-principal;
				margin: 5px;
			}
			.contenedor-logo-sets {
				height: 50px;
				width: 50px;
				overflow: hidden;
				margin: 5px;
				img {
					width: 100%;
				}
			}
		}
	}
}
