
.tablas{
  width: 100%;
 
 

    table {
        table-layout: fixed;
        width: 100%;
        border-collapse: collapse;        
        text-align: center;        
      }
      
      thead th{
        background: red linear-gradient(blue, rgb(156, 8, 8));
        color: white;
      }
          
      th, td {
        padding: 10px;
        background-color: white;
      }    

}