.tarjetas{
    width: 70%;
    margin: 30px 0px;    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .item {
        margin: 10px 0px;
        justify-content: space-around;   
        img{
            width: 300px;
            height: 400px;    
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;      
            border-radius: 15px;             
        }
    }
}

.contenedor-sin-resultados {
    display: none;
    background: pink;
 }