.tarjetas {
  width: 70%;
  margin: 30px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;

  .item {
    margin: 10px 0px;
    justify-content: space-around;
    img {
      width: 300px;
      height: 400px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
      border-radius: 15px;
    }
  }
}

.contenedor-sin-resultados {
  @include flex-centrar($display: none, $direccion: column, $content: center);
  font-family: $tipografia-secundaria;
  font-size: 28px;
  color: #000;
  margin-top: 50px;
  letter-spacing: 1px;
  text-shadow: 2px 2px 2px #9b9ac7;
}

@media screen and (max-width: 600px) {
  .contenedor-sin-resultados {
    img {
      width: 70%;
    }
  }
}

@media screen and (max-width: 400px) {
  .contenedor-sin-resultados {
    font-size: 20px;
  }
  .tarjetas {
    .item {
      img {
        width: 210px;
        height: 285px;
      }
    }
  }
}
