// excelente uso de variables 
$color-buscador: grey;
$color-blanco: white;
$color-negro: black;
$color-modo-claro:linear-gradient(180deg, #d2f9f0 28.04%, #5cd3ff 100%);
$color-modo-oscuro: linear-gradient(180deg, #4f11c1 13.04%, #9d9de8 100%);
$color-modo-oscuro-menu: #e9e0e0; 
$color-modo-oscuro-modal: linear-gradient(90deg, #ffffff 0%, #bcb4ff 100%);
$color-tablas-1: #dc3038; 
$tipogracia-principal: "Nunito", sans-serif;
$tipografia-secundaria: "VT323", monospace;
$tipografia-color-principal: #424242;
$box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
$border: solid 1px;
$margin: 10px;

// carta individual
$border-circle: 1px solid rgba(0, 0, 0, 0.61);

// switch toggle
$color-body: #316B83;
$color-body-active: #B5DEFF;
$color-toggle: #1E3163;
$color-toggle-active: #333232;
$color-switch: #ff0000;
$color-pokeball: #fff;
$color-shadow: #7f7c82;
$color-border: #000;