$color-buscador: grey;
$color-tarjetas: white;
$tipogracia-principal: "Nunito", sans-serif;
$tipografia-secundaria: "VT323", monospace;
$tipografia-color-principal: #424242;
$box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
$border: solid 1px;
$margin: 10px;

// switch toggle
$color-body: #316B83;
$color-body-active: #B5DEFF;
$color-toggle: #1E3163;
$color-toggle-active: #333232;
$color-switch: #ff0000;
$color-pokeball: #fff;
$color-shadow: #7f7c82;
$color-border: #000;