$color-buscador: grey;
$tipogracia-principal: "Nunito", sans-serif;
$tipografia-secundaria: "VT323", monospace;
$tipografia-color-principal: #424242;
$box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
$border: solid 1px;
$margin: 10px;
