body {
  margin: 0;
  background: url("/assets/body_bg.png");
  background-size: cover;
  background-position: center center;
  display: flex;
  flex-direction: column;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

ul {
  list-style: none;
}

ul, li {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.light-mode nav {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  background: #cfcedb;
  background: linear-gradient(180deg, #D2F9F0 13.04%, #01B0F1 100%);
  box-shadow: 0px 4px 15px 9px rgba(0, 0, 0, 0.09);
  position: sticky;
  top: 0;
  color: #424242;
  z-index: 10;
}
.light-mode nav ul {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
}
.light-mode nav ul li {
  font-family: "VT323", monospace;
  text-shadow: 2px 2px 2px #2e70b6a9;
  font-size: 30px;
  font-weight: 500;
  transition: 500ms;
  min-width: 100px;
}
.light-mode nav ul li:hover {
  text-shadow: 2px 2px 2px #D2F9F0;
  letter-spacing: 4px;
  transform: scale(1.1) translateY(3px);
}

/* .dark-mode{

} */
header .background-header {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
header .background-header img {
  width: 30%;
}

.light-mode .titulo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "VT323", monospace;
  color: #424242;
  margin-top: 15px;
  font-size: 20px;
  letter-spacing: 5px;
  margin-bottom: 30px;
}
.light-mode .buscador {
  width: 100%;
  display: flex;
  align-items: center;
  margin: 30px 0px;
  padding: 30px 0px;
  flex-direction: column;
}
.light-mode .buscador span {
  margin-top: 7px;
  font-family: "Nunito", sans-serif;
  color: #424242;
}
.light-mode .buscador form {
  width: 100%;
  display: flex;
  justify-content: center;
}
.light-mode .buscador form label {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.light-mode .buscador form label .fa-search {
  color: grey;
  font-size: 15px;
  margin: 0px -25px;
  z-index: 5;
  transform: translateY(-10%);
}
.light-mode .buscador form label input {
  width: 100vw;
  max-width: 500px;
  padding: 10px;
  padding-left: 35px;
  border-top: transparent;
  border-left: transparent;
  border-radius: 10px 150px/120px;
  font-size: 13px;
}
.light-mode .buscador form label input:hover {
  outline-color: #dddee0;
}
.light-mode .buscador form label input:focus {
  box-shadow: inset 0 0 10px 3px #dadddc;
  transition: 200ms;
}

.tarjetas {
  margin: 30px 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}
.tarjetas .item {
  margin: 10px 0px;
  justify-content: space-around;
}
.tarjetas .item img {
  width: 300px;
  height: 400px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 15px;
}

.cotenedor-sets {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: normal;
  flex-wrap: wrap;
}
.cotenedor-sets .tarjetas-sets {
  display: flex;
  flex-direction: column;
  justify-content: normal;
  align-items: center;
  width: 300px;
  margin: 10px;
  border: solid 1px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.cotenedor-sets .tarjetas-sets .cotenedor-imagen-sets {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 200px;
  overflow: hidden;
  margin-top: 5px;
  margin-bottom: 5px;
}
.cotenedor-sets .tarjetas-sets .cotenedor-imagen-sets img {
  width: 80%;
}
.cotenedor-sets .tarjetas-sets .contenedor-logo-texto-sets {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.cotenedor-sets .tarjetas-sets .contenedor-logo-texto-sets .contenedor-texto-sets {
  font-family: "Nunito", sans-serif;
  margin: 5px;
}
.cotenedor-sets .tarjetas-sets .contenedor-logo-texto-sets .contenedor-logo-sets {
  height: 50px;
  width: 50px;
  overflow: hidden;
  margin: 5px;
}
.cotenedor-sets .tarjetas-sets .contenedor-logo-texto-sets .contenedor-logo-sets img {
  width: 100%;
}

.light-mode .container-form {
  display: flex;
  justify-content: center;
  background-color: #f0f0f0;
  font-family: "VT323", monospace;
}
.light-mode .container-form .formularios {
  margin: 20px 0px;
  width: 45%;
  display: flex;
  justify-content: space-between;
}
.light-mode .container-form .formularios .buscador-lista-cartas {
  display: flex;
}
.light-mode .container-form .formularios .buscador-lista-cartas .contenedor-img-icon {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}
.light-mode .container-form .formularios .buscador-lista-cartas .contenedor-img-icon img {
  width: 35px;
}
.light-mode .container-form .formularios .buscador-lista-cartas input {
  border: transparent;
  margin-left: 5px;
  padding: 10px;
  font-family: "VT323", monospace;
}
.light-mode .container-form .formularios .selector-ver-como {
  display: flex;
  align-items: center;
}
.light-mode .container-form .formularios .selector-ver-como select {
  margin-left: 5px;
  font-family: "VT323", monospace;
  height: 35px;
  border: transparent;
}
.light-mode .container-form .formularios .sort-formulario {
  display: flex;
  align-items: center;
}
.light-mode .container-form .formularios .sort-formulario select {
  font-family: "VT323", monospace;
  height: 35px;
  border: transparent;
  margin-right: 5px;
  padding: 5px;
}

.light-mode .tablas {
  width: 100%;
  margin-top: 30px;
}
.light-mode .tablas table {
  width: 80%;
  margin: auto;
  table-layout: fixed;
  border-collapse: collapse;
  text-align: center;
  font-family: "VT323", monospace;
}
.light-mode .tablas table tbody:nth-child(even) {
  background-color: #f7e1e1;
}
.light-mode .tablas table tbody:nth-child(even):hover {
  background-color: #52cdfa;
  color: white;
}
.light-mode .tablas table tbody:nth-child(odd) {
  background-color: #efeff8;
}
.light-mode .tablas table tbody:nth-child(odd):hover {
  background-color: #f86565;
  color: white;
}
.light-mode .tablas table td, .light-mode .tablas table th {
  padding: 10px;
}
.light-mode .tablas table thead tr {
  background-color: #ad1818;
  color: white;
}
.light-mode .paginado-listas-cartas {
  display: flex;
  justify-content: center;
  margin: 20px;
}
.light-mode .paginado-listas-cartas button {
  margin: 30px 15px;
  border: transparent;
  color: white;
  background-color: #AD1818;
  width: 70px;
  height: 30px;
  border-radius: 5px;
}
.light-mode .paginado-listas-cartas button:hover {
  background-color: #1EBAF1;
}

.contenedor-footer {
  width: 100%;
  height: 350px;
  background-color: #000000;
  font-family: "Nunito", sans-serif;
  color: #fff;
  letter-spacing: 0.08em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.contenedor-footer .column-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: normal;
  padding: 50px 50px 0 50px;
  margin: 10px 10px 0 0;
}
.contenedor-footer .column-footer li {
  margin: 5px 0 5px 0;
  transition: 0.4s ease;
  padding-left: 150px;
}
.contenedor-footer .column-footer li:hover {
  color: #44e2cd;
  letter-spacing: 4px;
}
.contenedor-footer .titulo-contacto-footer {
  font-size: 20px;
  font-weight: normal;
  border-bottom: 1px solid #656565;
  line-height: 1.7;
  transition: opacity 0.4s ease;
  margin-bottom: 10px;
}
.contenedor-footer .titulo-contacto-footer:hover {
  opacity: 0.9;
  color: #d2f9f0;
}
.contenedor-footer .contenedor-copyright-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}
.contenedor-footer .posicion-parrafo-footer {
  z-index: 5;
  transform: translateY(-147%);
}
.contenedor-footer .link-copyright-footer {
  color: #d2f9f0;
}
.contenedor-footer .imagen-footer {
  object-fit: cover;
  max-width: 100%;
  min-height: 80px;
}

/* Paginado */
.paginado {
  display: flex;
  justify-content: center;
  align-items: center;
}
.paginado button {
  font-size: 18px;
  width: 100px;
  margin: 10px;
  margin-top: 50px;
  margin-bottom: 25px;
  padding: 5px;
  border: 2px solid rgba(128, 128, 128, 0.37);
  border-radius: 5px;
  background-color: transparent;
}
.paginado button:hover {
  border: 2px solid gray;
}
.paginado button:active {
  border: 2px solid gray;
}

.card-img:hover {
  transition: 0.5s;
  transform: scale(1.3);
  box-shadow: rgba(0, 0, 0, 0.637) 0px 5px 15px;
  border-radius: 15px;
}

/*# sourceMappingURL=style.css.map */
