/* Error: expected ";".
 *    ,
 * 32 |                 )
 *    |                  ^
 *    '
 *   _sets-modal.scss 32:6  @import
 *   style.scss 15:9        root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected ";".\a    \2577 \a 32 \2502                  )\d\a    \2502                   ^\a    \2575 \a   _sets-modal.scss 32:6  @import\a   style.scss 15:9        root stylesheet';
}
